<br>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="50%" fxLayout="column">
  	<mat-card>
  		<div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="center">
  			<div fxFlex="13%" fxLayout="column">
  				<img class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
  			</div>
  			<div fxFlex="85%" fxLayout="column">
  				<div fxLayout="row" fxLayoutAlign="left" class="title">
    				<h2><a href="/Management/4-tips-to-help-you-grow-small-business-/">4 Tips to Help You Grow Small Business </a></h2>
    			</div>
    			<div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="center">
    				<div fxFlex="68%" fxLayout="column">
    					<div fxLayout="row" fxLayoutAlign="left" fxLayoutGap="2%">
    						<div fxFlex="18%" fxLayout="column">
    							<img src="http://www.bizsugar.com/avatars/user_uploaded/AngelBiz_30.jpg">
    						</div>
    						<div fxFlex="80%" fxLayout="column"> 
    							<span class="subtext4">Posted by 
									<a href="/user/profile/AngelBiz">AngelBiz</a> under <a href="/Management">Management</a>
        							<br>
    								<span class="subtext4">
    		    						From <a href="http://www.smallbizviewpoints.com/2018/06/07/4-tips-to-help-you-grow-small-business/" target="_blank">http://www.smallbizviewpoints.com</a>
    				    				 4 days ago
        							</span>
									<span id="ls_adminlinks-0" style="display:none"></span>
									<br>
									<span class="made-hot">
										<span class="made-hot-subtext">Made Hot</span> 
										by: <a href="http://www.bizsugar.com/user/profile/marketingvalue">marketingvalue</a> on June 12, 2018 9:10 am
									</span>			
								</span>
    						</div>
    					</div>
    					<div fxLayout="row" fxLayoutAlign="center">
    						<p>A business that is not growing is in danger of becoming obsolete. Use these tips to continue to grow your business with the help of customers, employees and other stakeholders.</p>
    					</div>
    				</div>
    				<div fxFlex="30%" fxLayout="column">
    					<img class="article-img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
    				</div>
    			</div>
    		</div>
    	</div>
    </mat-card>
  </div>
  <div fxFlex="20%" fxLayout="column">
  <mat-card>
    <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg">
    </mat-card>
  </div>
</div>